.paragraph {
  display: flex;
  flex: 1;
  h2 {
    font-size: 2.5em;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    max-width: 30vw;
    font-size: 1.5em;
  }
  img {
    object-fit: contain;
    width: 12vw;
  }
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.left {
    div {
      margin: 4vw 10vw 2vw 0;
    }
}
.right {
    div {
      margin: 4vw 0 2vw 10vw;
    }
}