.paragraph {
  display: flex;
  flex: 1;
  p {
    max-width: 30vw;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    object-fit: contain;
    width: 200px;
  }
}
#centerImage {
  width: 60vw;
}
p {
  font-size: 1.3em;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 0 20vw;
}
.left {
    div {
      margin: 4vw 10vw 2vw 0;
    }
}
.right {
    div {
      margin: 4vw 0 2vw 10vw;
    }
}

h2 {
  font-size: 2.5em;
}
.us {
  img {
    height: 15vh;
  }
  margin: 2vw;
  display: flex;
  h3 {
    font-size: 2em;
    margin: 0;
  }
  div {
    margin-left: 3vw;
  }
  flex: 1;
}
.us-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
iframe {
  width: 70vw;
  height: 80vh;
}